/* You can add global styles to this file, and also import other style files */

hr.solid {
  border-top: 3px solid #bbb;
}

.margin-bottom-space {
  margin-bottom:10px
}

.horizontal-space {
  margin-right: 10px;
}